@{
    ViewBag.Title = "About Us";
    ViewBag.Message = "Our goal is to advertise, promote and make your business known. Come and be our Partner! Let us help!";
}
<h2 style="text-align:center;">@ViewBag.Title.</h2>
<h3 style="text-align:center;">@ViewBag.Message</h3>

<div class="col-sm-12 col-md-12 col-lg-12">
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 col-sm-offset-1 col-md-offset-2 founder" style="height:300px; text-align: center; margin-bottom:50px;">
        <img class="img-circle" src="~/images/pic_Bill.jpg" alt="Bill" style="width:200px;" />
        <h4>Alex Bill Montañez<br /><small>Founder</small></h4>
        <p style="text-align: justify;">Main goal is to help other companies help be well known to the world.</p>
        <i class="glyphicon glyphicon-send" style="margin-right:10px; color: #101010"></i>
        <i class="glyphicon glyphicon-phone" style="margin-right:10px; color: #101010"></i>
        <i class="glyphicon glyphicon-globe" style="color: #101010"></i>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 col-sm-offset-3 col-md-offset-2 co-founder" style="height:300px; text-align: center; margin-bottom:50px;">
        <img class="img-circle" src="~/images/pic_APM.jpg" alt="APM" style="width:200px;" />
        <br />
        <h4>Alex Montañez<br /><small>Co-Founder</small></h4>
        <p style="text-align: justify;">Founder of APM Group of Companies, Davao City</p>
        <i class="glyphicon glyphicon-send" style="margin-right:10px; color: #101010"></i>
        <i class="glyphicon glyphicon-phone" style="margin-right:10px; color: #101010"></i>
        <i class="glyphicon glyphicon-globe" style="color: #101010"></i>
    </div>
</div>
